{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="home-sec">
    <img class="img-cnt" src="{% static 'images/tdw.png' %}" 
        alt="Welcome to TDW"
        title="Welcome to TDW"
        style="background-attachment: fixed; background-repeat: no-repeat; background-position: center;"/>
    <div class="blanket"></div>
    <div class="home-content">
        <h1 class="home-head">
            QUALITY DOCUMENT STORAGE AND MANAGEMENT SOLUTIONS
        </h1>
        <small class="small-home-head">
            Your data is safe with us 
        </small>
        <div class="home-btns">
           
            <a href="{% url 'contact' %}" class="flatten-btn dark-btn small-btn" onclick="" 
                title="Contact TDW">
                Inquire
            </a>
        </div>
    </div>
</section>

<section class="top-sec">
    <div class="gen-cnt">
        <p class="home-p" data-aos="zoom-in"
            data-aos-easing="ease-in-sine"
            data-aos-duration="600">
            The Document Warehouse provides quality document storage and document management solutions to a number of companies and businesses, both large and small. We are one of the most well-respected document storage companies in Kenya and provide services to a number of top Kenyan companies.
        </p>
    </div>
</section>
 <!-- Data Protection and Compliance -->
<section class="mid-sec colored-sec">
    <div class="gen-cnt homepage-cnt">
        <div class="left-cnt">
            <div class="activities-cnt-img" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="600">
                <img class="act-cnt-img" src="{% static 'images/sec.jpg' %}" >
            </div>
        </div>

        <div class="rt-cnt extra-gap">
            <h2 class="gen-head" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="600">
                Data Protection and Compliance
            </h2>
            <p class="gen-p" data-aos="fade-up"
                data-aos-easing="ease-in-sine"
                data-aos-duration="600">
                TDW, an accredited company with NITA and the office of the data protection commissioner as auditors and trainers, is a leading provider of data solutions, specialising in data management, security, and compliance. As part of our commitment to ensuring the privacy and security of our customer's data, we recognise the significance of complying with the Data Protection Act, 2019 and other global compliance standards, as we service an international customer base.
            </p>

            
        </div>
    </div>
</section>

<!-- Comprehensive Solutions -->
<section class="midd-sec coloredd-sec">
    <div class="gen-cnt homepage-cnt reverse-cnt">
        <div class="left-cnt">
            <div class="activities-cnt-img" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="400">
                <img class="act-cnt-img" src="{% static 'images/mag.jpg' %}">
            </div>
        </div>

        <div class="rt-cnt extra-gap">
            <h2 class="gen-head" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="400">
                Comprehensive Solutions
            </h2>
            <p class="gen-p" data-aos="fade-up"
                data-aos-easing="ease-in-sine"
                data-aos-duration="400">
                We offer a complete menu of document management services which include; Records Storage; Cataloguing; file away of archived records and documents; Collection, retrieval and delivery of files and documents; Document Shredding; Offsite Data Storage; Bulk file scanning and Registry services.
            </p>

            
        </div>
    </div>
</section>

<!-- Expertise and Experience -->
<section class="mid-sec colored-sec">
    <div class="gen-cnt homepage-cnt">
        <div class="left-cnt">
            <div class="activities-cnt-img" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="600">
                <img class="act-cnt-img" src="{% static 'images/edms.jpg' %}" >
            </div>
        </div>

        <div class="rt-cnt extra-gap">
            <h2 class="gen-head" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="600">
                Expertise and Experience
            </h2>
            <p class="gen-p" data-aos="fade-up"
                data-aos-easing="ease-in-sine"
                data-aos-duration="600">
                The Document Warehouse Kenya Ltd is a registered company incorporated in 2012, which offers document storage and full life cycle document management services (on site and off site)and has been doing it for a while now which guarantees satisfactory results just like our clients have recieved. With our experienced technical staff we are able to support and assist your company in making your record keeping goals and data management a success.
            </p>

            
        </div>
    </div>
</section>

<!-- Customization and Scalability -->
<section class="midd-sec coloredd-sec">
    <div class="gen-cnt homepage-cnt reverse-cnt">
        <div class="left-cnt">
            <div class="activities-cnt-img" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="400">
                <img class="act-cnt-img" src="{% static 'images/scale.jpeg' %}">
            </div>
        </div>

        <div class="rt-cnt extra-gap">
            <h2 class="gen-head" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="400">
                Customization and Scalability
            </h2>
            <p class="gen-p" data-aos="fade-up"
                data-aos-easing="ease-in-sine"
                data-aos-duration="400">
                We are supported by a strong team with a current work force of 40 many of whom have been with us since inception, and this ensures that the TDW team understands the needs of its customers along with the evolving demands of the information age and therefore delivers services within specified time schedules to beat set targets.
            </p>

            
        </div>
    </div>
</section>

<!-- Customer Support -->
<section class="mid-sec colored-sec">
    <div class="gen-cnt homepage-cnt">
        <div class="left-cnt">
            <div class="activities-cnt-img" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="600">
                <img class="act-cnt-img" src="{% static 'images/customer.png' %}" >
            </div>
        </div>

        <div class="rt-cnt extra-gap">
            <h2 class="gen-head" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="600">
                Customer Support
            </h2>
            <p class="gen-p" data-aos="fade-up"
                data-aos-easing="ease-in-sine"
                data-aos-duration="600">
                TDW Clients enjoy full control of their documents in a cost effective and efficient manner. With the necessity for formal and professional Document Management increasing, TDW has continuously invested in its infrastructure to provide quality services. All records are contained in strong standard archiving cartons, which are positioned on steel racks to protect and preserve documents and business data.
            </p>

            
        </div>
    </div>
</section>


<section class="mid-sec">
    <h2 class="gen-head" data-aos="zoom-in"
        data-aos-easing="ease-in-sine"
        data-aos-duration="400">
        Our Clients
    </h2>

    <div class="tabbed-cnt">
        <div class="tab-containerr" data-aos="zoom-in"
            data-aos-easing="ease-in-sine"
            data-aos-duration="600">
            <div class="tab-filter-containerr">
                <div class="logo-container">
                    <img src="{% static 'images/pad.png' %}" alt="Company Logo 2">
                </div>
                <div class="logo-container">
                    <img src="{% static 'images/icea.png' %}" alt="Company Logo 1">
                </div>
                <div class="logo-container">
                    <img src="{% static 'images/tread.jpeg' %}" alt="Company Logo 2">
                </div>
                <div class="logo-container">
                    <img src="{% static 'images/knn.png' %}" alt="Company Logo 2">
                </div>
                <div class="logo-container">
                    <img src="{% static 'images/bollore2.png' %}" alt="Company Logo 1">
                </div>
                <div class="logo-container">
                    <img src="{% static 'images/dhl3.jpg' %}" alt="Company Logo 2">
                </div>
                <div class="logo-container">
                    <img src="{% static 'images/fs.jpeg' %}" alt="Company Logo 2">
                </div>
                <div class="logo-container">
                    <img src="{% static 'images/makini.png' %}" alt="Company Logo 2">
                </div>
        
                <div class="logo-container">
                    <img src="{% static 'images/ll.png' %}" alt="Company Logo 2">
                </div>
                <div class="logo-container">
                    <img src="{% static 'images/czarnikow.jpg' %}" alt="Company Logo 1">
                </div>
                <div class="logo-container">
                    <img src="{% static 'images/mm.png' %}" alt="Company Logo 2">
                </div>
                <div class="logo-container">
                    <img src="{% static 'images/pic5.webp' %}" alt="Company Logo 2">
                </div>
                <div class="logo-container">
                    <img src="{% static 'images/tf.png' %}" alt="Company Logo 2">
                </div>
            </div>
        </div>
    <!-- <div class="company-logos" data-aos="fade-up"
        data-aos-easing="ease-in-sine"
        data-aos-duration="600">
        
        Add more logo containers as needed 
    </div> -->
    <br>
</section>

{% endblock content %}

