{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="home-sec">
    <img class="img-cnt" src="{% static 'images/bg.png' %}" 
        alt="Welcome to TDW"
        title="Welcome to TDW"/>
    <div class="blanket"></div>
    <div class="home-content">
        <h1 class="home-head">
            Where Compassion Meets Community
        </h1>
        <small class="small-home-head">/
            Enriching Lives Every Day
        </small>
        <div class="home-btns">
            <a href="/fairseat/entry-procedure" class="flatten-btn dark-btn small-btn" onclick="" 
                title="Fairseat Foundation Entry Procedure">
                Enroll
            </a>
            <a href="{% url 'contact' %}" class="flatten-btn dark-btn small-btn" onclick="" 
                title="Contact Fairseat Foundation">
                Inquire
            </a>
        </div>
    </div>
</section>

<section class="top-sec">
    <div class="gen-cnt">
        <p class="home-p" data-aos="zoom-in"
            data-aos-easing="ease-in-sine"
            data-aos-duration="800">
            Discover a sanctuary of compassionate care and vibrant community 
            living at Fairseat Foundation. We are more than just a care 
            facility; we are a beacon of positive change and empowerment. 
            Our mission is to provide transformative support services 
            that go beyond conventional expectations, enriching lives 
            and fostering connection.
        </p>
    </div>
</section>

<section class="mid-sec colored-sec">
    <div class="gen-cnt homepage-cnt">
        <div class="left-cnt">
            <div class="activities-cnt-img" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800">
                <img class="act-cnt-img" src="{% static 'images' %}" 
                    alt="Discover Fairseat Foundation"
                    title="Discover Fairseat Foundation">
            </div>
        </div>

        <div class="rt-cnt extra-gap">
            <h2 class="gen-head" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800">
                Nurturing Hearts, Crafting Stories
            </h2>
            <p class="gen-p" data-aos="fade-up"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800">
                Fairseat Foundation is a haven for your elderly family members, 
                offering a supportive environment where they can 
                be cared for with compassion and respect. While we prioritize their 
                well-being, it's essential to note that Fairseat Foundation is 
                distinct from a nursing home. Our focus is on providing a warm and 
                engaging space that promotes connection, enrichment, and a sense of 
                belonging for every individual in our care. Welcome to Fairseat 
                Foundation – where thoughtful care meets a vibrant community experience.
            </p>

            <div class="sec-cnt-btn" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800">
                <a href="/about" class="flatten-btn dark-btn small-btn" onclick="" 
                    title="About Fairseat Foundation">
                    Discover
                </a>
            </div>
        </div>
    </div>
</section>

<section class="mid-sec">
    <h2 class="news-head" data-aos="zoom-in"
        data-aos-easing="ease-in-sine"
        data-aos-duration="800">
        Your Home Away from Home
    </h2>

    <div class="wrapper-cnt">
        
        <div class="media-card" data-aos="fade-up"
            data-aos-easing="ease-in-sine"
            data-aos-duration="800">
            <img class="img-cnt" src="/media/Amenities/images/apartment1.webp" 
                title="Apartments | Fairseat Foundation" 
                alt="Apartments | Fairseat Foundation">
                <div class="blanket"></div>
                <div class="media-card-cnt">
                    <h2 class="card-head">
                        Apartments
                    </h2>
                    <p class="card-p">
                        Nestled within the embrace of Fairseat Foundation are ten semi-detached apartments, each thoughtfully de…
                    </p>
                    <a href="/apartments" class="card-btn" onclick="" 
                        title="Explore Our Apartments">
                        Explore
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.0005 15.9995L15.0005 11.9995M15.0005 11.9995L11.0005 7.99951M15.0005 11.9995H3.00049M11.0005 2.99951H17.7997C18.9198 2.99951 19.4799 2.99951 19.9077 3.2175C20.284 3.40925 20.59 3.71521 20.7817 4.09153C20.9997 4.51935 20.9997 5.07941 20.9997 6.19951V17.7995C20.9997 18.9196 20.9997 19.4797 20.7817 19.9075C20.59 20.2838 20.284 20.5898 19.9077 20.7815C19.4799 20.9995 18.9198 20.9995 17.7997 20.9995H11.0005"/>
                        </svg>
                    </a>
                </div>
        </div>
        
        <div class="media-card" data-aos="fade-up"
            data-aos-easing="ease-in-sine"
            data-aos-duration="800">
            <img class="img-cnt" src="/media/Amenities/images/bedsit7.webp" 
                title="Bedsits | Fairseat Foundation" 
                alt="Bedsits | Fairseat Foundation">
                <div class="blanket"></div>
                <div class="media-card-cnt">
                    <h2 class="card-head">
                        Bedsits
                    </h2>
                    <p class="card-p">
                        Discover the charm of Fairseat Foundation within the main building, where nine en suite bed-sitting room…
                    </p>
                    <a href="/bedsits" class="card-btn" onclick="" 
                        title="Explore Our Bedsits">
                        Explore
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.0005 15.9995L15.0005 11.9995M15.0005 11.9995L11.0005 7.99951M15.0005 11.9995H3.00049M11.0005 2.99951H17.7997C18.9198 2.99951 19.4799 2.99951 19.9077 3.2175C20.284 3.40925 20.59 3.71521 20.7817 4.09153C20.9997 4.51935 20.9997 5.07941 20.9997 6.19951V17.7995C20.9997 18.9196 20.9997 19.4797 20.7817 19.9075C20.59 20.2838 20.284 20.5898 19.9077 20.7815C19.4799 20.9995 18.9198 20.9995 17.7997 20.9995H11.0005"/>
                        </svg>
                    </a>
                </div>
        </div>
        
        <div class="media-card" data-aos="fade-up"
            data-aos-easing="ease-in-sine"
            data-aos-duration="800">
            <img class="img-cnt" src="/media/Amenities/images/cottage16.webp" 
                title="Cottages | Fairseat Foundation" 
                alt="Cottages | Fairseat Foundation">
                <div class="blanket"></div>
                <div class="media-card-cnt">
                    <h2 class="card-head">
                        Cottages
                    </h2>
                    <p class="card-p">
                        Explore the bespoke charm of Fairseat Foundation through our collection of 16 custom-built cottages thou…
                    </p>
                    <a href="/cottages" class="card-btn" onclick="" 
                        title="Explore Our Cottages">
                        Explore
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.0005 15.9995L15.0005 11.9995M15.0005 11.9995L11.0005 7.99951M15.0005 11.9995H3.00049M11.0005 2.99951H17.7997C18.9198 2.99951 19.4799 2.99951 19.9077 3.2175C20.284 3.40925 20.59 3.71521 20.7817 4.09153C20.9997 4.51935 20.9997 5.07941 20.9997 6.19951V17.7995C20.9997 18.9196 20.9997 19.4797 20.7817 19.9075C20.59 20.2838 20.284 20.5898 19.9077 20.7815C19.4799 20.9995 18.9198 20.9995 17.7997 20.9995H11.0005"/>
                        </svg>
                    </a>
                </div>
        </div>
        
        <div class="media-card" data-aos="fade-up"
            data-aos-easing="ease-in-sine"
            data-aos-duration="800">
            <img class="img-cnt" src="/media/Amenities/images/main4.webp" 
                title="Main Building | Fairseat Foundation" 
                alt="Main Building | Fairseat Foundation">
                <div class="blanket"></div>
                <div class="media-card-cnt">
                    <h2 class="card-head">
                        Main Building
                    </h2>
                    <p class="card-p">
                        The Administration Offices serve as the nerve center, where our dedicated team ensures the seamless func…
                    </p>
                    <a href="/main-building" class="card-btn" onclick="" 
                        title="Explore Our Main Building">
                        Explore
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.0005 15.9995L15.0005 11.9995M15.0005 11.9995L11.0005 7.99951M15.0005 11.9995H3.00049M11.0005 2.99951H17.7997C18.9198 2.99951 19.4799 2.99951 19.9077 3.2175C20.284 3.40925 20.59 3.71521 20.7817 4.09153C20.9997 4.51935 20.9997 5.07941 20.9997 6.19951V17.7995C20.9997 18.9196 20.9997 19.4797 20.7817 19.9075C20.59 20.2838 20.284 20.5898 19.9077 20.7815C19.4799 20.9995 18.9198 20.9995 17.7997 20.9995H11.0005"/>
                        </svg>
                    </a>
                </div>
        </div>
        
        <div class="media-card" data-aos="fade-up"
            data-aos-easing="ease-in-sine"
            data-aos-duration="800">
            <img class="img-cnt" src="/media/Amenities/images/1706529667330.jpg" 
                title="Respite Room | Fairseat Foundation" 
                alt="Respite Room | Fairseat Foundation">
                <div class="blanket"></div>
                <div class="media-card-cnt">
                    <h2 class="card-head">
                        Respite Room
                    </h2>
                    <p class="card-p">
                        Fairseat Foundation&#x27;s respite facilities offer a compassionate haven for individuals on a temporary basi…
                    </p>
                    <a href="/respite-room" class="card-btn" onclick="" 
                        title="Explore Our Respite Room">
                        Explore
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.0005 15.9995L15.0005 11.9995M15.0005 11.9995L11.0005 7.99951M15.0005 11.9995H3.00049M11.0005 2.99951H17.7997C18.9198 2.99951 19.4799 2.99951 19.9077 3.2175C20.284 3.40925 20.59 3.71521 20.7817 4.09153C20.9997 4.51935 20.9997 5.07941 20.9997 6.19951V17.7995C20.9997 18.9196 20.9997 19.4797 20.7817 19.9075C20.59 20.2838 20.284 20.5898 19.9077 20.7815C19.4799 20.9995 18.9198 20.9995 17.7997 20.9995H11.0005"/>
                        </svg>
                    </a>
                </div>
        </div>
        
    </div>
</section>

<section class="mid-sec colored-sec">
    <div class="gen-cnt homepage-cnt reverse-cnt">
        <div class="left-cnt">
            <div class="activities-cnt-img" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800">
                <img class="act-cnt-img" src="{% static 'images' %}" 
                    alt="Our Commitment | Fairseat Foundation"
                    title="Our Commitment | Fairseat Foundation">
            </div>
        </div>

        <div class="rt-cnt extra-gap">
            <h2 class="gen-head" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800">
                Our Commitment
            </h2>
            <p class="gen-p" data-aos="fade-up"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800">
                At Fairseat, our commitment to compassion, inclusivity, and innovation 
                sets us apart. We embrace diversity, ensuring every individual feels 
                valued and understood. Our programs, designed for personal growth and 
                connection, create a nurturing environment where well-being thrives.
            </p>

            <div class="sec-cnt-btn" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800">
                <a href="/about/our-history" class="flatten-btn dark-btn small-btn" onclick="" 
                    title="The History Fairseat Foundation">
                    Our Roots
                </a>
            </div>
        </div>
    </div>
</section>

<section class="mid-sec">
    <h2 class="news-head" data-aos="zoom-in"
        data-aos-easing="ease-in-sine"
        data-aos-duration="800">
        Why Choose Us?
    </h2>

    <div class="tabbed-cnt">
        <div class="tab-container" data-aos="zoom-in"
            data-aos-easing="ease-in-sine"
            data-aos-duration="800">
            <div class="tab-filter-container">
                <li class="filter-btn active" data-tab="compassionate-care" onclick="">
                    <i class="bi bi-heart"></i>
                    Compassionate Care
                </li>
                
                <li class="filter-btn" data-tab="enriching-programs" onclick="">
                    <i class="bi bi-person-arms-up"></i>
                    Enriching Programs
                </li>
                
                <li class="filter-btn" data-tab="innovative-approach" onclick="">
                    <i class="bi bi-eyeglasses"></i>
                    Innovative Approach
                </li>
                
                <li class="filter-btn" data-tab="inclusive-community" onclick="">
                    <i class="bi bi-person-hearts"></i>
                    Inclusive Community
                </li>
                
                <li class="filter-btn" data-tab="warm-and-supportive-environment" onclick="">
                    <i class="bi bi-people"></i>
                    Supportive Environment
                </li>
            </div>

            <div class="tab-filter-item-container">
                <div class="tab-item compassionate-care select_tab">
                    <div class="tab-content-left">
                        <div class="tab-img-cnt">
                            <img class="act-cnt-img" src="{% static 'images' %}" 
                                alt="Compassionate Care | Fairseat Foundation" 
                                title="Compassionate Care | Fairseat Foundation">
                        </div>
                    </div>

                    <div class="tab-content-right">
                        <h3 class="tab-head">
                            Compassionate Care
                        </h3>

                        <p class="gen-p">
                            Our approach is rooted in genuine empathy. 
                            Your loved ones aren't just residents; they 
                            are cherished members of our community, 
                            receiving personalized and heartfelt care.
                        </p>
                    </div>
                </div>

                <div class="tab-item enriching-programs">
                    <div class="tab-content-left">
                        <div class="tab-img-cnt">
                            <img class="act-cnt-img" src="{% static 'images' %}" 
                                alt="Enriching Programs | Fairseat Foundation" 
                                title="Enriching Programs | Fairseat Foundation">
                        </div>
                    </div>

                    <div class="tab-content-right">
                        <h3 class="tab-head">
                            Enriching Programs
                        </h3>

                        <p class="gen-p">
                            Beyond basic care, Fairseat offers programs 
                            designed to enrich lives. From engaging 
                            activities to opportunities for personal 
                            growth, we create an environment where each 
                            individual's journey is filled with purpose.
                        </p>
                    </div>
                </div>

                <div class="tab-item innovative-approach">
                    <div class="tab-content-left">
                        <div class="tab-img-cnt">
                            <img class="act-cnt-img" src="{% static 'images' %}" 
                                alt="Innovative Approach | Fairseat Foundation" 
                                title="Innovative Approach | Fairseat Foundation">
                        </div>
                    </div>

                    <div class="tab-content-right">
                        <h3 class="tab-head">
                            Innovative Approach
                        </h3>

                        <p class="gen-p">
                            We believe in staying ahead. Fairseat constantly 
                            explores creative solutions and new approaches 
                            to enhance the well-being of our community members, 
                            ensuring a dynamic and fulfilling experience.
                        </p>
                    </div>
                </div>

                <div class="tab-item inclusive-community">
                    <div class="tab-content-left">
                        <div class="tab-img-cnt">
                            <img class="act-cnt-img" src="{% static 'images' %}" 
                                alt="Inclusive Community | Fairseat Foundation" 
                                title="Inclusive Community | Fairseat Foundation">
                        </div>
                    </div>

                    <div class="tab-content-right">
                        <h3 class="tab-head">
                            Inclusive Community
                        </h3>

                        <p class="gen-p">
                            Fairseat embraces diversity. Our inclusive environment 
                            ensures that everyone feels welcomed and valued, 
                            fostering a sense of belonging within our community.
                        </p>
                    </div>
                </div>

                <div class="tab-item warm-and-supportive-environment">
                    <div class="tab-content-left">
                        <div class="tab-img-cnt">
                            <img class="act-cnt-img" src="{% static 'images' %}" 
                                alt="Warm and Supportive Environment | Fairseat Foundation" 
                                title="Warm and Supportive Environment | Fairseat Foundation">
                        </div>
                    </div>

                    <div class="tab-content-right">
                        <h3 class="tab-head">
                            Supportive Environment
                        </h3>

                        <p class="gen-p">
                            Fairseat is not just a place; 
                            it's a warm haven. Our living spaces are 
                            designed to provide comfort and a sense of home, 
                            creating a supportive backdrop for each resident's 
                            unique story.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sec-chini">
    <div class="gen-cnt">
        <p class="home-p" data-aos="zoom-in"
            data-aos-easing="ease-in-sine"
            data-aos-duration="800">
            Choose Fairseat for a community that goes beyond 
            expectations, where care is more than a service—it's 
            a heartfelt commitment to illuminating paths and 
            empowering lives. Welcome to a place where every 
            day is an opportunity for connection, enrichment, 
            and joy.
        </p>
    </div>
</section>

{% endblock content %}

