{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="home-sec">
    <img class="img-cnt" src="{% static 'images/bg.png' %}" 
        alt="Welcome to TDW"
        title="Welcome to TDW"/>
    <div class="blanket"></div>
    <div class="home-content">
        <h1 class="home-head">
            Quality document storage and management solutions
        </h1>
        <small class="small-home-head">/
            Your data is safe with us 
        </small>
        <div class="home-btns">
           
            <a href="{% url 'contact' %}" class="flatten-btn dark-btn small-btn" onclick="" 
                title="Contact TDW">
                Inquire
            </a>
        </div>
    </div>
</section>

<section class="top-sec">
    <div class="gen-cnt">
        <p class="home-p" data-aos="zoom-in"
            data-aos-easing="ease-in-sine"
            data-aos-duration="800">
            The Document Warehouse provides quality document storage and document management solutions to a number of companies and businesses, both large and small. We are one of the most well-respected document storage companies in Kenya and provide services to a number of top Kenyan companies.
        </p>
    </div>
</section>

<section class="mid-sec colored-sec">
    <div class="gen-cnt homepage-cnt">
        <div class="left-cnt">
            <div class="activities-cnt-img" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800">
                <img class="act-cnt-img" src="{% static 'images/pic4.jpg' %}" >
            </div>
        </div>

        <div class="rt-cnt extra-gap">
            <h2 class="gen-head" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800">
                Your data, Our management
            </h2>
            <p class="gen-p" data-aos="fade-up"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800">
                The Document Warehouse's core focus is total commitment to manage & provide 
                solutions for customers to store, access and retrive their records/data while maintaining 
                accountability to said customers and the company. 
                We therefore push to provide digital transformation solutions to modernise business process 
                and improve efficiency.
            </p>

            <div class="sec-cnt-btn" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800">
                <a href="{% url 'overview' %}" class="flatten-btn dark-btn small-btn" onclick="" 
                    title="About TDW">
                    About Us
                </a>
            </div>
        </div>
    </div>
</section>

<section class="mid-sec">
    <h2 class="news-head" data-aos="zoom-in"
        data-aos-easing="ease-in-sine"
        data-aos-duration="800">
        What we can do for you
    </h2>

    <div class="wrapper-cnt">
        
        <div class="media-card" data-aos="fade-up"
            data-aos-easing="ease-in-sine"
            data-aos-duration="800">
            <img class="img-cnt" src="{% static 'images/pic6.jpg' %}" 
                title="Apartments | Fairseat Foundation" 
                alt="Apartments | Fairseat Foundation">
                <div class="blanket"></div>
                <div class="media-card-cnt">
                    <h2 class="card-head">
                        Secure Offsite Storage
                    </h2>
                    <p class="card-p">
                        Document storage is a vital part of effective document management. The Document Warehouse specializes in providing organised and secure offsite storage archiving solutions.
                    </p>
                    <a href="/apartments" class="card-btn" onclick="" 
                        title="Explore Our Apartments" style="color: whitesmoke;">
                        Explore
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.0005 15.9995L15.0005 11.9995M15.0005 11.9995L11.0005 7.99951M15.0005 11.9995H3.00049M11.0005 2.99951H17.7997C18.9198 2.99951 19.4799 2.99951 19.9077 3.2175C20.284 3.40925 20.59 3.71521 20.7817 4.09153C20.9997 4.51935 20.9997 5.07941 20.9997 6.19951V17.7995C20.9997 18.9196 20.9997 19.4797 20.7817 19.9075C20.59 20.2838 20.284 20.5898 19.9077 20.7815C19.4799 20.9995 18.9198 20.9995 17.7997 20.9995H11.0005"/>
                        </svg>
                    </a>
                </div>
        </div>
        
        <div class="media-card" data-aos="fade-up"
            data-aos-easing="ease-in-sine"
            data-aos-duration="800">
            <img class="img-cnt" src="{% static 'images/pic7.jpg' %}" 
                title="Bedsits | Fairseat Foundation" 
                alt="Bedsits | Fairseat Foundation">
                <div class="blanket"></div>
                <div class="media-card-cnt">
                    <h2 class="card-head">
                        Scanning
                    </h2>
                    <p class="card-p">
                        We facilitate digital document conversion with a fully comprehensive document management system, that generates an effective way to manage company information digitally.
                    </p>
                    <a href="/bedsits" class="card-btn" onclick="" 
                        title="Explore Our Bedsits" style="color: whitesmoke;">
                        Explore
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.0005 15.9995L15.0005 11.9995M15.0005 11.9995L11.0005 7.99951M15.0005 11.9995H3.00049M11.0005 2.99951H17.7997C18.9198 2.99951 19.4799 2.99951 19.9077 3.2175C20.284 3.40925 20.59 3.71521 20.7817 4.09153C20.9997 4.51935 20.9997 5.07941 20.9997 6.19951V17.7995C20.9997 18.9196 20.9997 19.4797 20.7817 19.9075C20.59 20.2838 20.284 20.5898 19.9077 20.7815C19.4799 20.9995 18.9198 20.9995 17.7997 20.9995H11.0005"/>
                        </svg>
                    </a>
                </div>
        </div>
        
        <div class="media-card" data-aos="fade-up"
            data-aos-easing="ease-in-sine"
            data-aos-duration="800">
            <img class="img-cnt" src="{% static 'images/pic10.jpg' %}" 
                title="Shredding" 
                alt="Shredding">
                <div class="blanket"></div>
                <div class="media-card-cnt">
                    <h2 class="card-head">
                        Certified Shredding and Destruction
                    </h2>
                    <p class="card-p">
                        The Document Warehouse offers Certified Shredding & Destruction services to ensure that your confidential records are destroyed in a safe and secure environment.
                    </p>
                    <a href="/cottages" class="card-btn" onclick="" 
                        title="Explore Our Cottages" style="color: whitesmoke;">
                        Explore
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.0005 15.9995L15.0005 11.9995M15.0005 11.9995L11.0005 7.99951M15.0005 11.9995H3.00049M11.0005 2.99951H17.7997C18.9198 2.99951 19.4799 2.99951 19.9077 3.2175C20.284 3.40925 20.59 3.71521 20.7817 4.09153C20.9997 4.51935 20.9997 5.07941 20.9997 6.19951V17.7995C20.9997 18.9196 20.9997 19.4797 20.7817 19.9075C20.59 20.2838 20.284 20.5898 19.9077 20.7815C19.4799 20.9995 18.9198 20.9995 17.7997 20.9995H11.0005"/>
                        </svg>
                    </a>
                </div>
        </div>
        
        <div class="media-card" data-aos="fade-up"
            data-aos-easing="ease-in-sine"
            data-aos-duration="800">
            <img class="img-cnt" src="{% static 'images/pic3.jpg' %}" 
                title="EDMS" 
                alt="EDMS">
                <div class="blanket"></div>
                <div class="media-card-cnt">
                    <h2 class="card-head">
                        Electronic Document Management Solutions(EDMS)
                    </h2>
                    <p class="card-p">
                        The Document Warehouse uses advanced Electronic Documnent Management Systems(EDMS)to provide effective document management solutions.
                    </p>
                    <a href="/main-building" class="card-btn" onclick="" 
                        title="Explore Our Main Building" style="color: whitesmoke;">
                        Explore
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.0005 15.9995L15.0005 11.9995M15.0005 11.9995L11.0005 7.99951M15.0005 11.9995H3.00049M11.0005 2.99951H17.7997C18.9198 2.99951 19.4799 2.99951 19.9077 3.2175C20.284 3.40925 20.59 3.71521 20.7817 4.09153C20.9997 4.51935 20.9997 5.07941 20.9997 6.19951V17.7995C20.9997 18.9196 20.9997 19.4797 20.7817 19.9075C20.59 20.2838 20.284 20.5898 19.9077 20.7815C19.4799 20.9995 18.9198 20.9995 17.7997 20.9995H11.0005"/>
                        </svg>
                    </a>
                </div>
        </div>
        
        
    </div>
</section>

<section class="mid-sec colored-sec">
    <div class="gen-cnt homepage-cnt reverse-cnt">
        <div class="left-cnt">
            <div class="activities-cnt-img" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800">
                <img class="act-cnt-img" src="{% static 'images/22.jpg' %}" 
                    alt=" Backup Media Vault Storage"
                    title=" Backup Media Vault Storage">
            </div>
        </div>

        <div class="rt-cnt extra-gap">
            <h2 class="gen-head" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800">
                Backup Media Vault Storage
            </h2>
            <p class="gen-p" data-aos="fade-up"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800">
                We offer clients highly secure storage data vaults,designed especially for the storage of your backup media data tapes and management of your backup rotation schedule.
            </p>

            <div class="sec-cnt-btn" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800">
                <a href="/about/our-history" class="flatten-btn dark-btn small-btn" onclick="" 
                    title="The History Fairseat Foundation">
                    Our Roots
                </a>
            </div>
        </div>
    </div>
</section>

<section class="mid-sec">
    <h2 class="news-head" data-aos="zoom-in"
        data-aos-easing="ease-in-sine"
        data-aos-duration="800">
        Why Choose Us?
    </h2>

    <div class="tabbed-cnt">
        <div class="tab-container" data-aos="zoom-in"
            data-aos-easing="ease-in-sine"
            data-aos-duration="800">
            <div class="tab-filter-container">
                <li class="filter-btn active" data-tab="compassionate-care" onclick="">
                    <i class="bi bi-shield"></i>
                    Security and Compliance
                </li>
                
                <li class="filter-btn" data-tab="enriching-programs" onclick="">
                    <i class="bi bi-database"></i>
                    Comprehensive Solutions
                </li>
                
                <li class="filter-btn" data-tab="innovative-approach" onclick="">
                    <i class="bi bi-archive"></i>
                    Expertise and Experience
                </li>
                
                <li class="filter-btn" data-tab="inclusive-community" onclick="">
                    <i class="bi bi-arrows-fullscreen"></i>
                    Customization and Scalability
                </li>
                
                <li class="filter-btn" data-tab="warm-and-supportive-environment" onclick="">
                    <i class="bi bi-people"></i>
                    Customer Support
                </li>
            </div>

            <div class="tab-filter-item-container">
                <div class="tab-item compassionate-care select_tab">
                    <div class="tab-content-left">
                        <div class="tab-img-cnt">
                            <img class="act-cnt-img" src="{% static 'images/sec.jpg' %}" 
                                alt="Security and Compliance" 
                                title="Security and Compliance">
                        </div>
                    </div>

                    <div class="tab-content-right">
                        <h3 class="tab-head">
                            Security and Compliance
                        </h3>

                        <p class="gen-p">
                            TDW has experience in a broad range of industries which include Insurance, Healthcare, Legal, Education and Logistics. This has prompted us to ensure and assure potential customers of the robust security measures built into your DMS to protect their sensitive information.
                        </p>
                    </div>
                </div>

                <div class="tab-item enriching-programs">
                    <div class="tab-content-left">
                        <div class="tab-img-cnt">
                            <img class="act-cnt-img" src="{% static 'images/mag.jpg' %}" 
                                alt="Comprehensive Solutions" 
                                title="Comprehensive Solutions">
                        </div>
                    </div>

                    <div class="tab-content-right">
                        <h3 class="tab-head">
                            Comprehensive Solutions
                        </h3>

                        <p class="gen-p">
                            We offer a complete menu of integrated Information Management Services which include; Records Storage; Cataloguing; file away of archived records and documents; Collection, retrieval and delivery of files and documents; Document Shredding; Offsite Data Storage; Bulk file scanning and Registry services.
                        </p>
                    </div>
                </div>

                <div class="tab-item innovative-approach">
                    <div class="tab-content-left">
                        <div class="tab-img-cnt">
                            <img class="act-cnt-img" src="{% static 'images/edms.jpg' %}" 
                                alt="Expertise and Experience" 
                                title="Expertise and Experience">
                        </div>
                    </div>

                    <div class="tab-content-right">
                        <h3 class="tab-head">
                            Expertise and Experience
                        </h3>

                        <p class="gen-p">
                            The Document Warehouse Kenya Ltd is a registered company incorporated in 2012, which offers document storage and full life cycle document management services (on site and off site)and has been doing it for a while now which guarantees satisfactory results just like our clients have recieved. With our experienced technical staff we are able to support and assist your company in making your record keeping goals and data management a success.
                        </p>
                    </div>
                </div>

                <div class="tab-item inclusive-community">
                    <div class="tab-content-left">
                        <div class="tab-img-cnt">
                            <img class="act-cnt-img" src="{% static 'images/scale.jpeg' %}" 
                                alt="Customization and Scalability" 
                                title="Customization and Scalability">
                        </div>
                    </div>

                    <div class="tab-content-right">
                        <h3 class="tab-head">
                            Customization and Scalability
                        </h3>

                        <p class="gen-p">
                            We are supported by a strong team with a current work force of 40 many of whom have been with us since inception, and this ensures that the TDW team understands the needs of its customers along with the evolving demands of the information age and therefore delivers services within specified time schedules to beat set targets.
                        </p>
                    </div>
                </div>

                <div class="tab-item warm-and-supportive-environment">
                    <div class="tab-content-left">
                        <div class="tab-img-cnt">
                            <img class="act-cnt-img" src="{% static 'images/customer.png' %}" 
                                alt="Customer Support" 
                                title="Customer Support">
                        </div>
                    </div>

                    <div class="tab-content-right">
                        <h3 class="tab-head">
                            Customer Support
                        </h3>

                        <p class="gen-p">
                            TDW Clients enjoy full control of their documents in a cost effective and efficient manner. With the necessity for formal and professional Document Management increasing, TDW has continuously invested in its infrastructure to provide quality services. All records are contained in strong standard archiving cartons, which are positioned on steel racks to protect and preserve documents and business data.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sec-chini">
    <div class="gen-cnt">
        <p class="home-p" data-aos="zoom-in"
            data-aos-easing="ease-in-sine"
            data-aos-duration="800">
            The Document Warehouse (TDW) provides our customers with a holistic offsite document storage solution. This which includes space-saving filing solutions and records management software necessary for effectively tracking files, onsite or offsite.
        </p>
    </div>
</section>

{% endblock content %}

