<div class="nav-btn">
    <div class="nav-links">
        <ul>
            <li class="nav-link" onclick="" style="--i: 0.6s">
                <a href="/" onclick="">
                    Home
                </a>
            </li>

            <li class="nav-link" onclick="" style="--i: 0.75s">
                <a onclick="" style="color: #073c70;">
                    About Us
                    <i class="bi bi-caret-down-fill"></i>
                </a>
                <div class="dropdown" onclick="">
                    <ul>
                        <li class="dropdown-link" onclick="">
                            <a href="{% url 'history' %}" onclick="">
                                Company History
                            </a>
                        </li>

                        <li class="dropdown-link" onclick="">
                            <a href="{% url 'overview' %}" onclick="">
                                Company Overview
                            </a>
                        </li>

                        <li class="dropdown-link" onclick="">
                            <a href="{% url 'operate' %}" onclick="">
                                How We Operate
                            </a>
                        </li>

                        <li class="dropdown-link" onclick="">
                            <a href="{% url 'news' %}" onclick="">
                                News
                            </a>
                        </li>
                        <!-- <li class="dropdown-link" onclick="">
                            <a href="{% url 'FAQs' %}" onclick="">
                                FAQs
                            </a>
                        </li> -->
                        <div class="arrow">
                        </div>
                    </ul>
                </div>
            </li>
<!-- 
            <li class="nav-link" onclick="" style="--i: 0.9s">
                <a onclick="" style="color: #073c70;">
                    Gallery
                    <i class="bi bi-caret-down-fill"></i>
                </a>
                <div class="dropdown" onclick="">
                    <ul>
                        <li class="dropdown-link" onclick="">
                            <a href="{% url 'pics' %}" onclick="">
                                Product Pictures
                            </a>
                        </li>

                        <li class="dropdown-link" onclick="">
                            <a href="{% url 'vids' %}" onclick="">
                                Videos
                            </a>
                        </li>
                        <div class="arrow"></div>
                    </ul>
                </div>
            </li> -->
            
            <li class="nav-link" onclick="" style="--i: 1.05s">
                <a href="{% url 'prod_and_services' %}">
                    Products & Services
                    <i class="bi bi-caret-down-fill"></i>
                </a>
                <div class="dropdown" onclick="">
                    <ul>
    
                        <li class="dropdown-link" onclick="">
                            <a href="{% url 'sos' %}" onclick="">
                                Secure Offsite Storage
                            </a>
                        </li>
                        
                        <li class="dropdown-link" onclick="">
                            <a href="{% url 'scanning' %}" onclick="">
                                Scanning / Digital Document Conversion
                            </a>
                        </li>

                        <li class="dropdown-link" onclick="">
                            <a href="{% url 'shredding' %}" onclick="">
                                Certified Shredding & Destruction
                            </a>
                        </li>
                        
                        <li class="dropdown-link" onclick="">
                            <a href="{% url 'edms' %}" onclick="">
                                EDMS
                            </a>
                        </li>
                        
                        <li class="dropdown-link" onclick="">
                            <a href="{% url 'storage' %}" onclick="">
                                Backup Media Vault Storage
                            </a>
                        </li>
                        <div class="arrow"></div>
                    </ul>
                </div>
            </li>

            <li class="nav-link" onclick="" style="--i: 1.4s">
                <a onclick="" style="color: #073c70;">
                    Governance
                    <i class="bi bi-caret-down-fill"></i>
                </a>
                <div class="dropdown" onclick="">
                    <ul>
                        <li class="dropdown-link" onclick="">
                            <a href="https://thedocumentwarehouse.com/ken/wp-content/uploads/sites/5/2023/08/DATA-PROTECTION-POLICY.docx.pdf" onclick="">
                                Data Protection Act Kenya, 2019
                            </a>
                        </li>
                        <!-- <li class="dropdown-link" onclick="">
                            <a href="{% url 'enquiry' %}" onclick="">
                                Enquiry
                        </li> -->
                        <li class="dropdown-link" onclick="">
                            <a href="{% url 'policy' %}" onclick="">
                                Privacy Policy
                        </li>
                        <li class="dropdown-link" onclick="">
                            <a href="{% url 'downloads' %}" onclick="">
                                Downloads
                        </li>
                        <div class="arrow"></div>
                      
                    </ul>
                </div>
            </li>

            <li class="nav-link" onclick="" style="--i: 1.25s">
                <a href="{%url 'FAQs'%}" onclick="">
                    FAQs
                </a>
            </li>

            <li class="nav-link" onclick="" style="--i: 1.25s">
                <a href="{%url 'contact'%}" onclick="">
                    Contact Us
                </a>
            </li>

          
        </ul>
    </div>
</div>

<div class="ham-cnt">
    <div class="ham">
        <div>
        </div>
    </div>
</div>