{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="header-sec ">
    <img class="img-cnt" src="{% static 'images/pic14.jpg' %}" 
        alt="TDW" 
        title="TDW">
    <div class="header-cnt">
        <span style="color: white;">
            Data
        </span>
        <h1 class="top-head" style="color: white;">
            Protection
        </h1>
    </div>
</section>

<section class="sec-chini">
    <div class="gen-cnt">
        <div class="col-inner" style="font-size: initial;">
			<h2 style="color: white;">Data Protection</h2>
            <p style="color: white;">Management of personal data and compliance with the Data protection laws is a critical part of any business's day to day activities.</p>
            <br>
            
            <p style="color: white;">Noncompliance can not only lead so substantial fines but longer-term harm such as reputational damage and loss of client both of which are extremly difficult to recover from in our highly competitive environment.</p>
            <br>
            
            <p style="color: white;">However, there are some fundamental steps you can tale to help mitigate the risk as your organisational embarks on or seeks to continue the compliance journay and The Document Warehouse (TDW) is here to help you on that journey beginning with assistance in registration with the Office of the Data Protection Commissioner (ODPC) and Data Protection Impact Assessment (DPIA) the essential audit that will health check your organistation's compliance status.</p>
            <br>
            
            <p style="color: white;">TDW is accredited as an auditor and trainer with the OPDC, we are also approved trainers by National Industrial Training Authority(NITA) to train and sensitize staff on Data Protection and its principles. As members of the British Chamber of Commerce (BCCK) we have undergone a rigorous integrity evaluation and qualified to be a chamber supplier. With the above accreditation we hope TDW qualifies to be your partner towards your compliance with the Data Protection Act.</p>
          
            <section class="sec-chini">
                <div class="gen-cnt">
                    <div class="col-inner" style="font-size: initial;">
                        
                        <p style="color: white;">Key Data Protection Principles In accordance with the new Law:</p>
                        <br>
                        <ol style="color: white;">
                            <li>Right to privacy</li>
                            <li>Lawfulness, fairness and transparency</li>
                            <li>Purpose limitation</li>
                            <li>Data minimization</li>
                            <li>Accuracy</li>
                            <li>Storage limitation</li>
                            <li>International transfers</li>
                            <li>Integrity and confidentiality</li>
                        </ol>
                     
                        
                    </div>
                </div>
            </section>
            <p style="color: white;">Remember compliance is a journey not a event.</p>

        </div>

    </div>
    <div class="container">
        <section class="sec-chini">
            <div class="gen-cnt">
                <div class="video video-fit mb" >
                    <img class="video-fit" src="{% static 'images/data.jpg' %}">
                </div>
            </div>
        </section>
    </div>
</section>



{% endblock content %}