{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="header-sec ">
    <img class="img-cnt" src="{% static 'images/pic14.jpg' %}" 
        alt="TDW" 
        title="TDW">
    <div class="header-cnt">
        <span style="color: white;">
            Data
        </span>
        <h1 class="top-head" style="color: white;">
            Protection
        </h1>
    </div>
</section>

<section class="sec-chini">
    <div class="gen-cnt">
        <div class="col-inner" style="font-size: initial;">
			
            <p style="color: white;">Key Data Protection Principles In accordance with the new Law:</p>
            <br>
            <ol style="color: white;">
                <li>Right to privacy</li>
                <li>Lawfulness, fairness and transparency</li>
                <li>Purpose limitation</li>
                <li>Data minimization</li>
                <li>Accuracy</li>
                <li>Storage limitation</li>
                <li>International transfers</li>
                <li>Integrity and confidentiality</li>
            </ol>
            <br>
            
        </div>
    </div>
</section>

{% endblock content %}