{% extends 'base.html' %}
{% load static %}
{% block content %}
       

<section class="header-sec">
    <img class="img-cnt" src="{% static 'images/22.jpg' %}" 
        alt="Our History | Fairseat Foundation" 
        title="Our History | Fairseat Foundation">
    <div class="header-cnt">
        <span style="color: white;">
            Our
        </span>
        <h1 class="top-head" style="color: white;">
            Products and Services
        </h1>
    </div>
</section>

<section class="top-sec colored-sec">
    <div class="gen-cnt homepage-cnt">
        <div class="left-cnt extra-gap">
            <div class="forms-cnt">
                <h2 class="gen-head" ata-aos="zoom-in"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800"
                    style="color: white;">
                    Secure Offsite Storage
                </h2>

                <p class="gen-p" ata-aos="fade-up"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800"
                    style="color: white;">
                    Document storage is a vital part of effective document management.The Document Warehouse specialises in providing organised and secure offsite storage archiving solutions.
                </p>
            </div>

        </div>

        <div class="rt-cnt">
            <div class="activities-cnt-img" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800">
                <img class="act-cnt-img" src="{% static 'images/24.jpg' %}" >
            </div>
        </div>
    </div>
</section>

<section class="mid-sec">
    <div class="gen-cnt homepage-cnt reverse-cnt">
        <div class="left-cnt extra-gap">
            <div class="forms-cnt">
                <h2 class="gen-head" data-aos="zoom-in"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800"
                    style="color: white;">
                    Scanning / Digital Document Conversion
                </h2>

                <p class="gen-p" data-aos="fade-up"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800"
                    style="color: white;">
                    We provides customers with a highly professional and fully comprehensive document management system, that generates an effective way to manage company information digitally.
                </p>
            </div>

            
        </div>

        <div class="rt-cnt">
            <div class="activities-cnt-img" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800">
                <img class="act-cnt-img" src="{% static 'images/pic.webp' %}" >
            </div>
        </div>
    </div>
</section>

<section class="top-sec colored-sec">
    <div class="gen-cnt homepage-cnt">
        <div class="left-cnt extra-gap">
            <div class="forms-cnt">
                <h2 class="gen-head" ata-aos="zoom-in"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800"
                    style="color: white;">
                    Certified Shredding & Destruction
                </h2>

                <p class="gen-p" ata-aos="fade-up"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800"
                    style="color: white;">
                    The Document Warehouse offers Certified Shredding & Destruction services to ensure that your confidential records are destroyed in a safe and secure environment.
                </p>
            </div>

        </div>

        <div class="rt-cnt">
            <div class="activities-cnt-img" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800">
                <img class="act-cnt-img" src="{% static 'images/pic12.jpg' %}" >
            </div>
        </div>
    </div>
</section>

<section class="mid-sec">
    <div class="gen-cnt homepage-cnt reverse-cnt">
        <div class="left-cnt extra-gap">
            <div class="forms-cnt">
                <h2 class="gen-head" data-aos="zoom-in"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800"
                    style="color: white;">
                    Electronic Document Management Solutions (EDMS)
                </h2>

                <p class="gen-p" data-aos="fade-up"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800"
                    style="color: white;">
                    The Document Warehouse uses advanced Electronic Document Management Systems (EDMS) to provide effective document management solutions.
                </p>
            </div>

        </div>

        <div class="rt-cnt">
            <div class="activities-cnt-img" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800">
                <img class="act-cnt-img" src="{% static 'images/pic1.webp' %}" >
            </div>
        </div>
    </div>
</section>

<section class="top-sec colored-sec">
    <div class="gen-cnt homepage-cnt">
        <div class="left-cnt extra-gap">
            <div class="forms-cnt">
                <h2 class="gen-head" ata-aos="zoom-in"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800"
                    style="color: white;">
                    Secure Offsite Document Storage
                </h2>

                <p class="gen-p" ata-aos="fade-up"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800"
                    style="color: white;">
                    As a thriving business you can’t afford to misplace or lose essential documentation. The Document Warehouse specialises in providing organised and secure document storage archiving solutions so that you have more time to concentrate on your business.
                </p>
            </div>

        </div>

        <div class="rt-cnt">
            <div class="activities-cnt-img" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800">
                <img class="act-cnt-img" src="{% static 'images/pic13.jpg' %}" >
            </div>
        </div>
    </div>
</section>

<section class="mid-sec">
    <div class="gen-cnt homepage-cnt reverse-cnt">
        <div class="left-cnt extra-gap">
            <div class="forms-cnt">
                <h2 class="gen-head" data-aos="zoom-in"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800"
                    style="color: white;">
                    COMBOX Document Filing
                </h2>

                <p class="gen-p" data-aos="fade-up"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800"
                    style="color: white;">
                    A unique product exclusively offered by The Document Warehouse, the Combox© is an affordable physical on-site document archive storage or filing solution designed especially to improve your current document management system.
                </p>
            </div>

        </div>

        <div class="rt-cnt">
            <div class="activities-cnt-img" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800">
                <img class="act-cnt-img" src="{% static 'images/pic3.webp' %}">
            </div>
        </div>
    </div>
</section>


<section class="sec-chini">
    <div class="faq-cnt">
            <h2 class="news-head" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800"
                style="color: white;">
                Quality Service
            </h2>

            <p class="center-p" data-aos="fade-up"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800"
                style="color: white;">
                High service quality increases customer satisfaction and produces measurable long-term benefits in market share and profitability (Anderson, Fornell, & Lehmann, 1994). From the managerial point of view, the final goal is to attract and maintain customers. With the emphasis on the voice of the customer, service quality was defined as the difference between customer expectations of service and the perceptions of the actual service received (Parasuraman, Zeithaml, & Berry,1988).
            </p>
    </div>
</section>


{% endblock content %}