{% extends 'base.html' %}
{% load static %}
{% block content %}
       

<section class="header-sec">
    <img class="img-cnt" src="/static/Seat/images/headers/headers.jpg" 
        alt="Our History | Fairseat Foundation" 
        title="Our History | Fairseat Foundation">
    <div class="header-cnt">
        <span>
            Legacy in Bloom: Tracing the Roots
        </span>
        <h1 class="top-head">
            Products and Services
        </h1>
    </div>
</section>

<section class="top-sec colored-sec">
    <div class="gen-cnt homepage-cnt">
        <div class="left-cnt extra-gap">
            <div class="forms-cnt">
                <h2 class="gen-head" ata-aos="zoom-in"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800">
                    Embracing New Beginnings
                </h2>

                <p class="gen-p" ata-aos="fade-up"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800">
                    In 1990, Fairseat's Rosslyn plot came alive with activity. 
                    Donated by the late Miss Vivien Horwood, the journey 
                    began with the spirited effort to remove 15 massive 
                    acrocarpus tree stumps. What followed was a meticulous 
                    clearing, setting the stage for a momentous celebration.
                </p>
            </div>

            <div class="forms-cnt">
                <h2 class="gen-head" data-aos="zoom-in"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800">
                    Sunshine Amidst Friends
                </h2>

                <p class="gen-p" data-aos="fade-up"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800">
                    On March 16, 1990, nearly 200 donors and well-wishers 
                    gathered under clear skies. Despite prior rain, the day 
                    unfolded with camaraderie, lively tunes 
                    from the Gordon Highlanders band, and shared moments of joy.
                </p>
            </div>
        </div>

        <div class="rt-cnt">
            <div class="activities-cnt-img" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800">
                <img class="act-cnt-img" src="/static/Seat/images/history/history1.webp" 
                    alt="The History Fairseat Foundation"
                    title="The History Fairseat Foundation">
            </div>
        </div>
    </div>
</section>

<section class="mid-sec">
    <div class="gen-cnt homepage-cnt reverse-cnt">
        <div class="left-cnt extra-gap">
            <div class="forms-cnt">
                <h2 class="gen-head" data-aos="zoom-in"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800">
                    Symbolic Sod Turning
                </h2>

                <p class="gen-p" data-aos="fade-up"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800">
                    Chairman Mr. Michael Shaw expressed gratitude, and 
                    Patron Sir Michael Blundell KBE turned a "symbolic sod," 
                    marking the transition to a new phase. Mrs. Diana Shaw, 
                    Vice National Chairman of the EAWL, presented a plaque 
                    encapsulating the day's significance.
                </p>
            </div>

            <div class="forms-cnt">
                <h2 class="gen-head" data-aos="zoom-in"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800">
                    Heartfelt Thanks and Generosity
                </h2>

                <p class="gen-p" data-aos="fade-up"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800">
                    Sir Michael commended the hardworking committee, presenting a 
                    symbolic "insurance" cheque. Dr. Humphrey Belcher expressed 
                    gratitude and introduced an American Auction, symbolizing 
                    the community's generosity, propelling Fairseat toward 
                    a hopeful future.
                </p>
            </div>
        </div>

        <div class="rt-cnt">
            <div class="activities-cnt-img" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800">
                <img class="act-cnt-img" src="/static/Seat/images/history/history3.webp" 
                    alt="The History Fairseat Foundation"
                    title="The History Fairseat Foundation">
            </div>
        </div>
    </div>
</section>

<section class="sec-chini">
    <div class="faq-cnt">
            <h2 class="news-head" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800">
                Building Dreams
            </h2>

            <p class="center-p" data-aos="fade-up"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800">
                The event not only marked progress but also garnered 
                generous donations, paving the way for Fairseat's 
                promising future. With tenders received, the dream of 
                building a compassionate haven moved closer to reality.
            </p>
    </div>
</section>


{% endblock content %}