{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="header-sec ">
    <img class="img-cnt" src="{% static 'images/pic8.jpg' %}" 
        alt="TDW" 
        title="TDW">
    <div class="header-cnt text-center">
        <span style="color: black;">
            Scanning Digital
        </span>
        <h1 class="top-head" style="color: black;">
            Document Conversion
        </h1>
    </div>
</section>
<br><br>
<section class="section" style="color: white;">

    <div class="section-content relative">
        

        <div class="row row-small align-equal" id="row-555228593">


            <div id="col-1892868598" class="col medium-8 small-12 large-8">
                <div class="col-inner" style="font-size: initial;">               

                    
                    <h2 style="color: white;">Scanning / Digital Document Conversion Services</h2>
                    <p>Welcome to The Document Warehouse! We specialise in providing high-quality document scanning services to businesses and organisations of all sizes. Our state-of-the-art scanners and highly trained staff allow us to quickly and accurately convert your physical documents into digital format, giving you the convenience and flexibility of accessing your documents from anywhere and on any device.</p>
                    <h2 style="color: white;">Our Document Scanning Services Include</h2>
                    <ul style="color: white;" >
                        <li style="list-style-type:circle">Highly trained staff to perform document preparation, scanning and indexing in line with the client’s requirements.</li>
                        <li style="list-style-type:circle">High-speed scanning:</li>
                        <li>We can scan hundreds of pages per minute, handling even the most significant document scanning projects efficiently.</li>
                        <li style="list-style-type:circle">Precision scanning: Our scanners are equipped with advanced image processing technology, ensuring that your documents are scanned with the highest accuracy and clarity.
                        </li>
                        <li style="list-style-type:circle">Multiple file formats: We can scan your documents and save them in various formats, including PDF, JPEG, TIFF, and more.</li>
                        <li style="list-style-type:circle">Printing or emailing directly from EDMS.</li>
                        <li style="list-style-type:circle">On-premise or hosted EDMS software.</li>
                        <li style="list-style-type:circle">Secure storage: Your scanned documents will be stored in our secure, state-of-the-art data centre, giving you peace of mind knowing that your documents are safe and secure.</li>
                    </ul>
                    <h2 style="color: white;">Benefits Document Scanning Services</h2>
                    <ol style="color: white;">
                        <li>Increased efficiency: Digital documents can be accessed and shared much more quickly and efficiently than physical documents, resulting in increased efficiency and productivity.</li>
                        <li>Improved organisation: Digital documents can be organised and easily searched, allowing you to quickly locate the information you need.</li>
                        <li>Space saving: Scanning and storing your physical documents electronically frees up valuable office space.</li>
                        <li>Cost savings: By eliminating the need for physical storage and reducing the need for paper, document scanning services can help save your business money.</li>
                        <li>Disaster prevention: Digital documents are much less vulnerable to disasters such as fires and floods, giving you peace of mind knowing that your important documents are safe and secure.</li>
                    </ol>
                   
                    <p>Contact us today to learn more about how our document scanning services can benefit your business. We would be happy to provide you with a free consultation and quote.</p>
                    <br><br>
                </div>
            </div>

        </div>

    </div>


</section>

{% endblock content %}