{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="header-sec ">
    <img class="img-cnt" src="{% static 'images/pic11.jpg' %}" 
        alt="TDW" 
        title="TDW">
    <div class="header-cnt">
        <span style="color: white;">
            Document Shredding
        </span>
        <h1 class="top-head" style="color: white;">
            and Destruction
        </h1>
    </div>
</section>

<div class="container mt-3">
    <div class="">

        <section class="sec-chini">
            <div class="gen-cnt">
                <div class="video video-fit mb" >
                    <iframe width="690" height="388" src="https://www.youtube.com/embed/BAA6-Htgiwo" title="Document Destruction and Shredding" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </section>

       
    </div>
</div>

<section class="sec-chini">
    <div class="gen-cnt">
        <div class="col-inner" style="font-size: initial;">
			
            <p style="color: white;">At The Document Warehouse, we understand the importance of protecting sensitive and confidential information. That’s why we offer top-of-the-line document shredding services to ensure that your documents are securely and adequately disposed of.</p>
            <p style="color: white;">Our document shredding service is designed for businesses and organisations of all sizes. Whether you have a few boxes of documents that need to be shredded or multiple truckloads, we have the capacity and equipment to handle them. The Secure Document Destruction Department shred virtually anything containing confidential information, including All paper/Cardboard records, CDs / DVDs, and Credit cards / ID cards.</p>
            <p style="color: white;">We understand that security is of the utmost importance regarding document shredding. That’s why we adhere to strict security protocols and guidelines to ensure that your documents are correctly and securely destroyed. Our shredding trucks are equipped with GPS tracking, and our shredding process fully complies with all state and government regulations.</p>
            <p style="color: white;">We pride ourselves on offering flexible and customisable services to meet your needs. Our team of experts will work with you to develop a shredding schedule that fits your schedule and budget. We offer offsite shredding and document destruction.</p>
            <p style="color: white;">If you’re looking for a reliable and secure document shredding service, look no further than The Document Warehouse. Contact us today to learn more about our services and to schedule a pickup. With our help, you can rest assured that your confidential documents are handled with the utmost care and security.</p>
            
        </div>
    </div>
</section>

{% endblock content %}