{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="header-sec ">
    <img class="img-cnt" src="{% static 'images/pic2.jpg' %}" 
        alt="TDW" 
        title="TDW">
    <div class="header-cnt text-center">
        <span style="color: white;">
            Offsite Document
        </span>
        <h1 class="top-head" style="color: white;">
            Storage Solution
        </h1>
    </div>
</section>
<br><br>


<section class="tp-btm-sec">
    <div class="gen-cnt">
        <div class="left-cnt extra-gap" style="font-size: initial;">

            <p style="color: white;">The Document Warehouse specialises in providing secure and efficient offsite document storage solutions for businesses and organisations. Our state-of-the-art facility is equipped with advanced fire suppression systems and 24/7 surveillance to ensure the safety of your valuable documents.</p>
            <h2 style="color: white;">Our Offsite Document Storage Services Include:</h2>
            <ul style="color: white;" >
                <li style="list-style-type:circle">Climate-controlled storage units to protect your documents from extreme temperature fluctuations</li>
                <li style="list-style-type:circle">Online access to your documents allows you to view and retrieve them from any device with an internet connection.</li>
                <li style="list-style-type:circle">Customized organisation and indexing solutions to help you quickly locate and access your documents</li>
                <li style="list-style-type:circle">Regular inventory management and document purging to keep your storage organised and efficient</li>
            </ul>
            <h2 style="color: white;">5 Benefits of Document Storage Solutions</h2>
            <ol style="color: white;">
                <li>Increased organisation and productivity: A professional document storage solution can easily access and retrieve your documents when needed, saving you time and improving your overall productivity.</li>
                <li>Reduced data loss: By storing your documents in a secure, off-site facility, you can reduce the risk of data loss due to accidents or disasters such as fires, floods, or theft.</li>
                <li>Cost savings: Document storage can be more cost-effective than maintaining your in-house storage system, especially if you need more space or resources to store large documents.</li>
                <li>Improved security: Professional document storage facilities often have advanced security measures, such as surveillance and fire suppression systems, to protect your valuable documents.</li>
                <li>Peace of mind: Outsourcing your document storage to a professional provider can give you peace of mind knowing that your documents are being handled by experts and are stored in a safe and secure environment.</li>
            </ol>
        </div>

        <div class="rt-cnt scroll-cnt extra-gap" data-aos="zoom-in"
        data-aos-easing="ease-in-sine"
        data-aos-duration="800">
        
            <div class="faq">
                <div class="question">
                    <h2>
                        Onsite Packing and Indexing
                    </h2>

                    <div class="faq-div">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2 4.5C2 3.11929 3.11929 2 4.5 2H19.5C20.8807 2 22 3.11929 22 4.5V19.5C22 20.8807 20.8807 22 19.5 22H4.5C3.11929 22 2 20.8807 2 19.5V4.5ZM4.5 4C4.22386 4 4 4.22386 4 4.5V19.5C4 19.7761 4.22386 20 4.5 20H19.5C19.7761 20 20 19.7761 20 19.5V4.5C20 4.22386 19.7761 4 19.5 4H4.5Z"/>
                        </svg>
                    </div>
                </div>

                <div class="answer">
                    <div class="inner-faq">
                        <p>An effective records management system, improves operational efficiency in a business by effectively organising information to meet business and legal requirements. The Document Warehouse’s records management consulting staff specialise in providing services onsite at the client’s premises to sort, pack and index the client’s records. Our onsite packing and indexing service ensures that documents are indexed before the records leave the customer’s premises, enabling immediate retrieval of records without a waiting period.</p>

                        
                    </div>
                </div>
            </div>
                                    
            <div class="faq">
                <div class="question">
                    <h2>
                        Offsite Data Capturing
                    </h2>

                    <div class="faq-div">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2 4.5C2 3.11929 3.11929 2 4.5 2H19.5C20.8807 2 22 3.11929 22 4.5V19.5C22 20.8807 20.8807 22 19.5 22H4.5C3.11929 22 2 20.8807 2 19.5V4.5ZM4.5 4C4.22386 4 4 4.22386 4 4.5V19.5C4 19.7761 4.22386 20 4.5 20H19.5C19.7761 20 20 19.7761 20 19.5V4.5C20 4.22386 19.7761 4 19.5 4H4.5Z"/>
                        </svg>
                    </div>
                </div>

                <div class="answer">
                    <div class="inner-faq">
                        <p>Our Data Capture Department, provides adequate offsite data capturing services whereby we electronically capture essential information related to your files stored within the box. Our data capturing and indexing service will streamline your business information, making it easy to manage and maintain. Capturing the primary fields of index related to your files will assist with fast retrieval of  documentation at the file level by searching for keywords or descriptions (track and trace).</p>
                        
                        <p>Our customers can view an inventory of their records online via our O’Neil Order Records Management System or request a copy of the index report for future  retrieval and audit purposes.</p>

                    </div>
                </div>
            </div>
                                    
            <div class="faq">
                <div class="question">
                    <h2>
                        Rapid Retrieval
                    </h2>

                    <div class="faq-div">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2 4.5C2 3.11929 3.11929 2 4.5 2H19.5C20.8807 2 22 3.11929 22 4.5V19.5C22 20.8807 20.8807 22 19.5 22H4.5C3.11929 22 2 20.8807 2 19.5V4.5ZM4.5 4C4.22386 4 4 4.22386 4 4.5V19.5C4 19.7761 4.22386 20 4.5 20H19.5C19.7761 20 20 19.7761 20 19.5V4.5C20 4.22386 19.7761 4 19.5 4H4.5Z"/>
                        </svg>
                    </div>
                </div>

                <div class="answer">
                    <div class="inner-faq">
                        <p>TDW prides itself in its quick document retrieval system, and our guarantee confirms our commitment to meeting our turnaround times. 

                        </p>
                        
                        <p>Retrieval Requests can be made as follows:</p>
                        
                        <ul>
                            <li><strong>O’Neil Order</strong> Records Management System is the most convenient manner to submit your retrieval request. It can be logged directly online by selecting the exact file you request for delivery/collection, saving you time and money. </li>
                            <li><strong>Email Request</strong> – Sent through the retrievals ticketing system.</li>
        
                        </ul>
                    
                        <p>Offsite document delivery turnaround times are as follows:</p>
                    
                        <ul>
                            <li>Standard delivery -we deliver files within 24 hours of logging the request.</li>
                            <li>Express delivery – files will be delivered within 4 hours from logging the request (depending on location).</li>
                            <li>Scan to Email – documents can be scanned and emailed within 2 hours of logging the request.</li>
                            <li>Collection – files can be collected from the TDW premises within 24 hours (standard) or 4 hours (express) from logging the request.</li>
                        </ul>
                        
                        <p>All collections, scheduled and express deliveries are carried out securely by:</p>
                    
                        <ul>
                            <li>TDW staff that are fully trained and experienced, security vetted and wear company uniforms. </li>
                            <li>TDW vehicles that are all identifiable with The Document Warehouse logos.</li>
                            <li>TDW drivers are equipped with live satellite tracking feed direct to the Document Warehouse offices.</li>

                        </ul>
                        <p><strong>Our Retrieval Guarantee</strong></p>
                        <ul>
                            <li>TDW guarantees delivery of your retrieval within 24 hours, or your retrieval will be free.</li>
                    
                        </ul>
                        <p><strong>T&C in respect of the TDW guarantee</strong></p>
                        <ol style="font-size: initial;">
                            <li>Account has not been suspended. </li>
                            <li>The authorised official is registered on TDW’s system.</li>
                            <li>In cases where a Quotation or Purchase Order is required, the turnaround time will start on receipt of a signed quotation and purchase order.</li>
                            <li>Excludes retrieval requests above 20 retrieval items within the same request (excludes PW requests).</li>
                            <li>In cases where a query has arisen on the retrieval request, the turnaround time will start upon the question’s resolution.</li>
                            <li>Retrieval requests have been submitted through the TDW retrieval ticketing system.</li>
                            <li>Information for the retrieval must be clear and concise – taken from index list.</li>
                            <li>Requests must be received before the 15H00 cut-off on the previous day (within regular working hours, 08H00 to 15h00 weekdays).</li>
                            
                        <ol>
                    </div>
                </div>
            </div>
                                    
            <div class="faq">
                <div class="question">
                    <h2>
                        O'Neil Order Records Management Software
                    </h2>

                    <div class="faq-div">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2 4.5C2 3.11929 3.11929 2 4.5 2H19.5C20.8807 2 22 3.11929 22 4.5V19.5C22 20.8807 20.8807 22 19.5 22H4.5C3.11929 22 2 20.8807 2 19.5V4.5ZM4.5 4C4.22386 4 4 4.22386 4 4.5V19.5C4 19.7761 4.22386 20 4.5 20H19.5C19.7761 20 20 19.7761 20 19.5V4.5C20 4.22386 19.7761 4 19.5 4H4.5Z"/>
                        </svg>
                    </div>
                </div>

                <div class="answer">
                    <div class="inner-faq">
                        <p>The Document Warehouse is dedicated to providing you with efficient document management systems that streamline documentation flow in your business. To help us achieve this goal, we’ve provided our clients with an easy-to-use online platform called O’Neil Order. This document storage platform provides our customers with fast, flexible, real-time access to information about their on-site physical records.</p>
                
                        <p>Our customers can perform many of their administrative tasks, providing them with the power to manage their document solutions and have access to their documentation via the Web anytime, anywhere in the world. The software is designed to free up your staff and boost productivity by ensuring they can tend to other important tasks. You control your stored records, even though they are stored offsite at our facilities.</p>
                        
                        <p>With O’Neil Order, you can perform the following function:</p>
                        <ul>
                            <li>O’Neil Order Plus</li>
                                <ul>
                                    <li>Request for Retrievals</li>
                                    <li>Capture New Boxes / Files </li>
                                    <li>View Index Reports / Destruction Reports</li>
                                    <li>Place Orders for Boxes & Stationery</li>
                                    <li>Request Collection of New Boxes</li>
                                    <li>Request Collection for the return of retrieved boxes</li>
                                    <li>Authorise Boxes for Destruction</li>
                                </ul>
                            <li>O’Neil Order Lite</li>
                                <ul>
                                    <li>Request for Retrievals</li>
                                    <li>Place Orders for Boxes & Stationery</li>
                                    <li>Request Collection of New Boxes</li>
                                    <li>Request Collection for the return of retrieved boxes</li>
                                </ul>
                        </ul>
                        
                        <p>Contact us today for more information about O’Neil Order and our other products and services.</p>
                    </div>
                </div>
            </div>
        

            <div class="activities-cnt-img" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800">
                <img class="act-cnt-img" src="{% static 'images/pic.webp' %}">
            </div>
                                    
        </div>
    </div>
</section>

{% endblock content %}