{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="header-sec ">
    <img class="img-cnt" src="{% static 'images/pic1.webp' %}" 
        alt="TDW" 
        title="TDW">
    <div class="header-cnt">
        <span style="color: white;">
            Quick Answers, Easy Questions
        </span>
        <h1 class="top-head" style="color: white;">
            FAQs
        </h1>
    </div>
</section>

<section class="tp-btm-sec">
    <div class="gen-cnt">
        <div class="left-cnt extra-gap">
            <h2 class="gen-head" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800"
                style="color: white;">
                FAQs Answered at The Document Warehouse
            </h2>

            <p class="gen-p" data-aos="fade-up"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800"
                style="color: white;">
                At The Document Warehouse, we understand that your 
                journey with us should be as smooth as it is 
                rewarding. Our Frequently Asked Questions (FAQs) 
                section is crafted with care to provide you with 
                swift answers and insightful guidance. Whether you're 
                curious about our programs, seeking clarity on our 
                mission, or just exploring the possibilities, our 
                FAQs serve as a comforting compass. We believe in 
                empowering you with knowledge, ensuring your experience 
                with The Document Warehouse is not only transformative but also delightful. 
                Your curiosity is welcomed, and our FAQs are here to warmly 
                embrace every question, making your exploration a delightful and informed adventure.
            </p>

            <div class="activities-cnt-img" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800">
                <img class="act-cnt-img" src="{% static 'images/pic2.webp' %}" 
                    alt="Frequently Asked Questions | Fairseat Foundation"
                    title="Frequently Asked Questions | Fairseat Foundation">
            </div>

            <p class="gen-p" data-aos="fade-up"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800"
                style="color: white;">
                Can't find what you are looking for? Contact us for any inquiries.
            </p>

            <div class="sec-cnt-btn" data-aos="fade-up"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800">
                <a href="{% url 'contact' %}" class="flatten-btn dark-btn small-btn" onclick="" 
                    title="Contact The Document Warehouse">
                    Contact Us
                </a>
            </div>
        </div>

        <div class="rt-cnt scroll-cnt extra-gap" data-aos="zoom-in"
        data-aos-easing="ease-in-sine"
        data-aos-duration="800">
        
            <div class="faq">
                <div class="question">
                    <h2>
                        What Types Of Documents Do You Store?
                    </h2>

                    <div class="faq-div">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2 4.5C2 3.11929 3.11929 2 4.5 2H19.5C20.8807 2 22 3.11929 22 4.5V19.5C22 20.8807 20.8807 22 19.5 22H4.5C3.11929 22 2 20.8807 2 19.5V4.5ZM4.5 4C4.22386 4 4 4.22386 4 4.5V19.5C4 19.7761 4.22386 20 4.5 20H19.5C19.7761 20 20 19.7761 20 19.5V4.5C20 4.22386 19.7761 4 19.5 4H4.5Z"/>
                        </svg>
                    </div>
                </div>

                <div class="answer">
                    <div class="inner-faq">
                        <p>We can store any document, including legal documents, financial records, marketing materials, and more.</p>

                    </div>
                </div>
            </div>
                                    
            <div class="faq">
                <div class="question">
                    <h2>
                        How Do You Ensure The Safety Of My Documents?
                    </h2>

                    <div class="faq-div">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2 4.5C2 3.11929 3.11929 2 4.5 2H19.5C20.8807 2 22 3.11929 22 4.5V19.5C22 20.8807 20.8807 22 19.5 22H4.5C3.11929 22 2 20.8807 2 19.5V4.5ZM4.5 4C4.22386 4 4 4.22386 4 4.5V19.5C4 19.7761 4.22386 20 4.5 20H19.5C19.7761 20 20 19.7761 20 19.5V4.5C20 4.22386 19.7761 4 19.5 4H4.5Z"/>
                        </svg>
                    </div>
                </div>

                <div class="answer">
                    <div class="inner-faq">
                        <p>We take the safety of your documents very seriously. Our facility has advanced fire suppression systems and 24/7 surveillance to prevent accidents or breaches.</p>

                    </div>
                </div>
            </div>
                                    
            <div class="faq">
                <div class="question">
                    <h2>
                        Can I Access My Documents Online?
                    </h2>

                    <div class="faq-div">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2 4.5C2 3.11929 3.11929 2 4.5 2H19.5C20.8807 2 22 3.11929 22 4.5V19.5C22 20.8807 20.8807 22 19.5 22H4.5C3.11929 22 2 20.8807 2 19.5V4.5ZM4.5 4C4.22386 4 4 4.22386 4 4.5V19.5C4 19.7761 4.22386 20 4.5 20H19.5C19.7761 20 20 19.7761 20 19.5V4.5C20 4.22386 19.7761 4 19.5 4H4.5Z"/>
                        </svg>
                    </div>
                </div>

                <div class="answer">
                    <div class="inner-faq">
                        <p>Yes, we offer online access to your documents through a secure portal. This allows you to view and retrieve documents from any device with an internet connection.</p>
                    </div>
                </div>
            </div>
                                    
            <div class="faq">
                <div class="question">
                    <h2>
                        How Do You Organize And Index My Documents?
                    </h2>

                    <div class="faq-div">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2 4.5C2 3.11929 3.11929 2 4.5 2H19.5C20.8807 2 22 3.11929 22 4.5V19.5C22 20.8807 20.8807 22 19.5 22H4.5C3.11929 22 2 20.8807 2 19.5V4.5ZM4.5 4C4.22386 4 4 4.22386 4 4.5V19.5C4 19.7761 4.22386 20 4.5 20H19.5C19.7761 20 20 19.7761 20 19.5V4.5C20 4.22386 19.7761 4 19.5 4H4.5Z"/>
                        </svg>
                    </div>
                </div>

                <div class="answer">
                    <div class="inner-faq">
                        <p>We offer customised organisation and indexing solutions to fit your specific needs. This includes using barcodes, labels, and digital systems to help you quickly locate and access your documents.</p>
                    </div>
                </div>
            </div>
                                    
            <div class="faq">
                <div class="question">
                    <h2>
                        Do You Offer Document Shredding Services?
                    </h2>

                    <div class="faq-div">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2 4.5C2 3.11929 3.11929 2 4.5 2H19.5C20.8807 2 22 3.11929 22 4.5V19.5C22 20.8807 20.8807 22 19.5 22H4.5C3.11929 22 2 20.8807 2 19.5V4.5ZM4.5 4C4.22386 4 4 4.22386 4 4.5V19.5C4 19.7761 4.22386 20 4.5 20H19.5C19.7761 20 20 19.7761 20 19.5V4.5C20 4.22386 19.7761 4 19.5 4H4.5Z"/>
                        </svg>
                    </div>
                </div>

                <div class="answer">
                    <div class="inner-faq">
                        <p>Yes, we offer secure document shredding services to help you dispose of sensitive documents safely and responsibly.</p>

                    </div>
                </div>
            </div>
                                    
            <div class="faq">
                <div class="question">
                    <h2>
                        How often do you conduct inventory management and document purging?
                    </h2>

                    <div class="faq-div">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2 4.5C2 3.11929 3.11929 2 4.5 2H19.5C20.8807 2 22 3.11929 22 4.5V19.5C22 20.8807 20.8807 22 19.5 22H4.5C3.11929 22 2 20.8807 2 19.5V4.5ZM4.5 4C4.22386 4 4 4.22386 4 4.5V19.5C4 19.7761 4.22386 20 4.5 20H19.5C19.7761 20 20 19.7761 20 19.5V4.5C20 4.22386 19.7761 4 19.5 4H4.5Z"/>
                        </svg>
                    </div>
                </div>

                <div class="answer">
                    <div class="inner-faq">
                        <p>We conduct regular inventory management and document purging to ensure that your storage is organised and efficient. We can work with you to determine the frequency of these services based on your specific needs.</p>
                    </div>
                </div>
            </div>
                                    
            <div class="faq">
                <div class="question">
                    <h2>
                        How Much Does Document Storage Cost?
                    </h2>

                    <div class="faq-div">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2 4.5C2 3.11929 3.11929 2 4.5 2H19.5C20.8807 2 22 3.11929 22 4.5V19.5C22 20.8807 20.8807 22 19.5 22H4.5C3.11929 22 2 20.8807 2 19.5V4.5ZM4.5 4C4.22386 4 4 4.22386 4 4.5V19.5C4 19.7761 4.22386 20 4.5 20H19.5C19.7761 20 20 19.7761 20 19.5V4.5C20 4.22386 19.7761 4 19.5 4H4.5Z"/>
                        </svg>
                    </div>
                </div>

                <div class="answer">
                    <div class="inner-faq">
                        <p>The cost of our document storage services varies based on the volume of documents you need to store and the duration of storage. We offer competitive pricing and are happy to provide a quote based on your specific needs.</p>

                    </div>
                </div>
            </div>
                                    
            <div class="faq">
                <div class="question">
                    <h2>
                        How Do I Retrieve My Documents?
                    </h2>

                    <div class="faq-div">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2 4.5C2 3.11929 3.11929 2 4.5 2H19.5C20.8807 2 22 3.11929 22 4.5V19.5C22 20.8807 20.8807 22 19.5 22H4.5C3.11929 22 2 20.8807 2 19.5V4.5ZM4.5 4C4.22386 4 4 4.22386 4 4.5V19.5C4 19.7761 4.22386 20 4.5 20H19.5C19.7761 20 20 19.7761 20 19.5V4.5C20 4.22386 19.7761 4 19.5 4H4.5Z"/>
                        </svg>
                    </div>
                </div>

                <div class="answer">
                    <div class="inner-faq">
                        <p>You can retrieve your documents in person by visiting our facility during business hours or requesting to have them delivered.</p>

                    </div>
                </div>
            </div>
                                    
            <div class="faq">
                <div class="question">
                    <h2>
                        Do You Offer Pickup And Delivery Services?
                    </h2>

                    <div class="faq-div">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2 4.5C2 3.11929 3.11929 2 4.5 2H19.5C20.8807 2 22 3.11929 22 4.5V19.5C22 20.8807 20.8807 22 19.5 22H4.5C3.11929 22 2 20.8807 2 19.5V4.5ZM4.5 4C4.22386 4 4 4.22386 4 4.5V19.5C4 19.7761 4.22386 20 4.5 20H19.5C19.7761 20 20 19.7761 20 19.5V4.5C20 4.22386 19.7761 4 19.5 4H4.5Z"/>
                        </svg>
                    </div>
                </div>

                <div class="answer">
                    <div class="inner-faq">
                        <p>Yes, we offer pickup and delivery services for your convenience.</p>
                    </div>
                </div>
            </div>
                                    
            <div class="faq">
                <div class="question">
                    <h2>
                        Is Your Facility Climate-Controlled?
                    </h2>

                    <div class="faq-div">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2 4.5C2 3.11929 3.11929 2 4.5 2H19.5C20.8807 2 22 3.11929 22 4.5V19.5C22 20.8807 20.8807 22 19.5 22H4.5C3.11929 22 2 20.8807 2 19.5V4.5ZM4.5 4C4.22386 4 4 4.22386 4 4.5V19.5C4 19.7761 4.22386 20 4.5 20H19.5C19.7761 20 20 19.7761 20 19.5V4.5C20 4.22386 19.7761 4 19.5 4H4.5Z"/>
                        </svg>
                    </div>
                </div>

                <div class="answer">
                    <div class="inner-faq">
                        <p>Our facility has climate-controlled storage units to protect your documents from extreme temperature fluctuations. This helps to ensure the longevity and integrity of your documents.</p>
                    </div>
                </div>
            </div>
        
            
                                    
        </div>
    </div>
</section>



{% endblock content %}


