{% extends 'base.html' %}
{% load static %}
{% block content %}


<section class="header-sec ">
    <img class="img-cnt" src="{% static 'images/bg3.jpg' %}" 
        alt="TDW" 
        title="TDW">
    <div class="header-cnt">
        <span style="color: white;">
            About Us
        </span>
        <h1 class="top-head" style="color: white;">
            Who We Are
        </h1>
    </div>
</section>



<div class="container mt-3">
    <div class="">
        <div class=" extra-gap">
            <div class="forms-cnt">
                <h2 class="gen-head" data-aos="zoom-in"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800"
                    style="color: white;">
                    Company History
                </h2>

                <p class="gen-p" data-aos="fade-up"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800"
                    style="color: white;">
                    The Document Warehouse Kenya Ltd (formerly known as The Record House Limited) is a Registered Kenyan company incorporated in 2012, which offers document storage and full life cycle document management services (on site and off site). We offer a complete menu of integrated Information Management Services which include; Records Storage; Cataloguing; file away of archived records and documents; Collection, retrieval and delivery of files and documents; Document Shredding; Offsite Data Storage; Bulk file scanning and Registry services.
                    <br><br>
                    The Document Warehouse Kenya is growing fast in every aspect to meet the demand of the fast-growing Industry. 
                    <br><br>
                    Our clientele includes local companies, ranging from small and medium sized organizations to multinationals. TDW has experience in a broad range of industries which include Insurance, Healthcare, Legal, Education and Logistics.
                    <br><br>
                    TDW Clients enjoy full control of their documents in a cost effective and efficient manner. With the necessity for formal and professional Document Management increasing, TDW has continuously invested in its infrastructure to provide quality services. All records are contained in strong standard archiving cartons, which are positioned on steel racks to protect and preserve documents and business data.
                    <br><br>
                    We are supported by a strong team with a current work force of 40 many of whom have been with us since inception, and this ensures that the TDW team understands the needs of its customers along with the evolving demands of the information age and therefore delivers services within specified time schedules to beat set targets.
                    <br><br>
                    With our experienced technical staff we are able to support and assist your company in making your record keeping goals and data management a success.
                </p>

                <hr data-aos="zoom-in"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800">
                </hr>
            </div>

          
        </div>

       
    </div>
</div>

<section class="sec-chini">
    <div class="gen-cnt">
        <p class="home-p" data-aos="zoom-in"
            data-aos-easing="ease-in-sine"
            data-aos-duration="800"
            style="color: white;">
            The Document Warehouse (TDW) provides our customers with a holistic offsite document storage solution. This which includes space-saving filing solutions and records management software necessary for effectively tracking files, onsite or offsite.
        </p>
    </div>
</section>
{% endblock content %}