{% extends 'base.html' %}
{% load static %}
{% block content %}


<section class="header-sec">
    <img class="img-cnt" src="{% static 'images/bg3.jpg' %}" 
        alt="Downloadable Forms | Fairseat Foundation" 
        title="Downloadable Forms | Fairseat Foundation">
    <div class="header-cnt">
        <span>
            The Essence of Fairseat
        </span>
        <h1 class="top-head">
            Who We Are
        </h1>
    </div>
</section>

<section class="top-sec">
    <div class="gen-cnt">
        <p class="home-p" data-aos="zoom-in"
            data-aos-easing="ease-in-sine"
            data-aos-duration="800">
            At Fairseat Foundation, our identity is rooted in a 
            profound commitment to positive change. We invite you 
            to explore the heart of our organization, where compassion 
            meets community, and lives are illuminated with purpose.
        </p>
    </div>
</section>

<section class="mid-sec">
    <div class="gen-cnt">
        <div class="left-cnt extra-gap">
            <div class="forms-cnt">
                <h2 class="gen-head" data-aos="zoom-in"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800">
                    Vision
                </h2>

                <p class="gen-p" data-aos="fade-up"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800">
                    Our vision is to be a nurturing home for all, 
                    creating a warm haven where well-being, connection, 
                    and enrichment thrive.
                </p>

                <hr data-aos="zoom-in"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800">
                </hr>
            </div>

            <div class="forms-cnt">
                <h2 class="gen-head" data-aos="zoom-in"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800">
                    Mission
                </h2>

                <p class="gen-p" data-aos="fade-up"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800">
                    Fairseat Foundation is dedicated to empowering 
                    lives through compassionate care and enriching 
                    programs, fostering vibrant communities where every 
                    individual finds purpose and connection.
                </p>

                <hr data-aos="zoom-in"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800">
                </hr>
            </div>
        </div>

        <div class="rt-cnt extra-gap">
            <div class="forms-cnt">
                <h2 class="gen-head" data-aos="zoom-in"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800">
                    Principles
                </h2>

                <div class="faq" data-aos="zoom-in"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800">
                    <div class="question">
                        <h2>
                            Compassion
                        </h2>

                        <div class="faq-div">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2 4.5C2 3.11929 3.11929 2 4.5 2H19.5C20.8807 2 22 3.11929 22 4.5V19.5C22 20.8807 20.8807 22 19.5 22H4.5C3.11929 22 2 20.8807 2 19.5V4.5ZM4.5 4C4.22386 4 4 4.22386 4 4.5V19.5C4 19.7761 4.22386 20 4.5 20H19.5C19.7761 20 20 19.7761 20 19.5V4.5C20 4.22386 19.7761 4 19.5 4H4.5Z"/>
                            </svg>
                        </div>
                    </div>

                    <div class="answer">
                        <div class="inner-faq">
                            <p class="gen-p">
                                We approach care with genuine empathy, ensuring 
                                every individual feels valued and understood.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="faq" data-aos="zoom-in"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800">
                    <div class="question">
                        <h2>
                            Inclusivity
                        </h2>

                        <div class="faq-div">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2 4.5C2 3.11929 3.11929 2 4.5 2H19.5C20.8807 2 22 3.11929 22 4.5V19.5C22 20.8807 20.8807 22 19.5 22H4.5C3.11929 22 2 20.8807 2 19.5V4.5ZM4.5 4C4.22386 4 4 4.22386 4 4.5V19.5C4 19.7761 4.22386 20 4.5 20H19.5C19.7761 20 20 19.7761 20 19.5V4.5C20 4.22386 19.7761 4 19.5 4H4.5Z"/>
                            </svg>
                        </div>
                    </div>

                    <div class="answer">
                        <div class="inner-faq">
                            <p class="gen-p">
                                Celebrating diversity, we foster an environment 
                                where all are welcomed and embraced.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="faq" data-aos="zoom-in"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800">
                    <div class="question">
                        <h2>
                            Enrichment
                        </h2>

                        <div class="faq-div">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2 4.5C2 3.11929 3.11929 2 4.5 2H19.5C20.8807 2 22 3.11929 22 4.5V19.5C22 20.8807 20.8807 22 19.5 22H4.5C3.11929 22 2 20.8807 2 19.5V4.5ZM4.5 4C4.22386 4 4 4.22386 4 4.5V19.5C4 19.7761 4.22386 20 4.5 20H19.5C19.7761 20 20 19.7761 20 19.5V4.5C20 4.22386 19.7761 4 19.5 4H4.5Z"/>
                            </svg>
                        </div>
                    </div>

                    <div class="answer">
                        <div class="inner-faq">
                            <p class="gen-p">
                                Our programs transcend basic care, providing 
                                opportunities for personal growth and connection.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="faq" data-aos="zoom-in"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800">
                    <div class="question">
                        <h2>
                            Innovation
                        </h2>

                        <div class="faq-div">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2 4.5C2 3.11929 3.11929 2 4.5 2H19.5C20.8807 2 22 3.11929 22 4.5V19.5C22 20.8807 20.8807 22 19.5 22H4.5C3.11929 22 2 20.8807 2 19.5V4.5ZM4.5 4C4.22386 4 4 4.22386 4 4.5V19.5C4 19.7761 4.22386 20 4.5 20H19.5C19.7761 20 20 19.7761 20 19.5V4.5C20 4.22386 19.7761 4 19.5 4H4.5Z"/>
                            </svg>
                        </div>
                    </div>

                    <div class="answer">
                        <div class="inner-faq">
                            <p class="gen-p">
                                Embracing creativity, we seek new ways 
                                to enhance the well-being of those in our care.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sec-chini">
    <div class="gen-cnt">
        <p class="home-p" data-aos="zoom-in"
            data-aos-easing="ease-in-sine"
            data-aos-duration="800">
            At Fairseat, we don't just provide a service; 
            we create a compassionate community where principles 
            guide our actions, and every individual's journey is 
            illuminated with care and purpose. Welcome to a place where 
            warmth, support, and enrichment abound.
        </p>
    </div>
</section>



 
{% endblock content %}