{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="header-sec ">
    <img class="img-cnt" src="{% static 'images/bg3.jpg' %}" 
        alt="TDW" 
        title="TDW">
    <div class="header-cnt text-center">
        <span style="color: white;">
            About Our Ops
        </span>
        <h1 class="top-head" style="color: white;">
            How We Operate
        </h1>
    </div>
</section>


<section class="mid-sec colored-sec">
    <div class="gen-cnt homepage-cnt reverse-cnt">
        <div class="left-cnt">
            <div class="activities-cnt-img" data-aos="zoom-in"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800">
                <img class="act-cnt-img" src="{% static 'images/edms.png' %}" 
                    alt=" TDW"
                    title="TDW">
            </div>
        </div>

        <div class="rt-cnt extra-gap">
        
            <p class="gen-p" data-aos="fade-up"
                data-aos-easing="ease-in-sine"
                data-aos-duration="800"
                style="color: white;">
                The Document Warehouse provides quality document storage and document management solutions to a number of companies and businesses, both large and small. Our services are reliable and effective and we will tailor a document management solution to meet your needs. We are one of the most well-respected document storage companies in South Africa and provide services to a number of top blue-chip companies.
            </p>

        </div>
    </div>
</section>

<section class="sec-chini">
    <div class="gen-cnt">
        <div class="col-inner" style="font-size: initial;">

            <div class="text-center" style="color: white;">
                        
                <h2 class="uppercase">Professional Document Storage and Records Management</h2>
                <p><em>Leaders Since 1992</em></p>
   
            </div>
            
            <ul style="color: white;">
                <li style="list-style-type:circle">The Document Warehouse will remove your filing with minimal disruption to and involvement of your staff throughout the duration of the project.</li>
                <li style="list-style-type:circle">Document and files are boxed in special document storage boxes to keep them safe and clean.</li>
                <li style="list-style-type:circle">The files are indexed before leaving your premises so you will have immediate access to them.</li>
                <li style="list-style-type:circle">The files are indexed and categorised according to your company’s requirements and each file is captured onto our system.</li>
                <li style="list-style-type:circle">You are provided with an electronic index or printout (upon request) detailing the documentation held in storage with us.</li>
                <li style="list-style-type:circle">Each document storage box is given a destruction date (if required) according to legal stipulations. Alternatively, according to your own internal requirements. Upon instruction, we will provide you with a printout of the files due for destruction and once we have received your written authority we will destroy the files on your behalf.</li>
                <li style="list-style-type:circle">Retrieval of files can be accommodated in three ways:<br>&nbsp;<br>Delivery of files and documents to your offices – all our retrievals operate on a 24 hour turnaround time.<br><br>Express delivery – for those urgent occasions – files will be delivered within 4 – 6 hours,<br><br>Electronic / Telephonic requests – information can be scanned and emailed, faxed or given telephonically within 4 hours provided that the caller complies with our security clearance process.</li>
                <li style="list-style-type:circle">Security and confidentiality for your archive files and documentation is assured as access to your boxes is strictly controlled.<br>Contact The Document Warehouse&nbsp;today for more information on how we can help you</li>
            </ul>

            
        </div>
    </div>
</section>
{% endblock content %}

