{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="header-sec ">
    <img class="img-cnt" src="{% static 'images/pic3.jpg' %}" 
        alt="TDW" 
        title="TDW">
    <div class="header-cnt">
        <span style="color: white;">
            What We Do
        </span>
        <h1 class="top-head" style="color: white;">
            Company Overview
        </h1>
    </div>
</section>

<div class="container mt-3">
    <div class="">
        <div class=" extra-gap">
            <div class="forms-cnt">
                <h2 class="gen-head" data-aos="zoom-in"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800"
                    style="color: white;">
                    Company Overview
                </h2>

                <p class="gen-p" data-aos="fade-up"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="800"
                    style="color: white;">
                    The Document Warehouse specializes in providing organisations with records and information management solutions that assist you in increasing the productivity, efficiency and compliance within your organisation, allowing you to concentrate on your core business functions.
                    <br><br>
                    Our bespoke solutions for the private and public sector, including but not limited to: Government, Small, Medium Micro Enterprises (SMMEs), Healthcare, Mining, Education, Energy, Entertainment, Insurance, Legal, Banking, Telecommunications, Retail and Finance.
                </p>

                <hr data-aos="zoom-in"
                    data-aos-easing="ease-in-sine"                  
                    data-aos-duration="800">
                </hr>
            </div>

          
        </div>
        
        <section class="sec-chini">
            <div class="gen-cnt">
                <div class="col-inner" style="font-size: initial;">
                    <h1 style="color: white;"><strong>Our solutions include:</strong></h1>
                    <br>
                    <ul>
                        <li style="list-style-type:circle"><a href="" style="color: white;">Data Protection</a></li style="list-style-type:circle">
                        <li style="list-style-type:circle"><a href="" style="color: white;">Scanning / Digital Document Conversion</a></li style="list-style-type:circle">
                        <li style="list-style-type:circle"><a href="" style="color: white;">Indexing and data capture</a></li style="list-style-type:circle">
                        <li style="list-style-type:circle"><a href="" style="color: white;">On-site inhouse data managment</a></li style="list-style-type:circle">
                        <li style="list-style-type:circle"><a href="" style="color: white;">Secure Offsite Storage</a></li style="list-style-type:circle">
                        <li style="list-style-type:circle"><a href="" style="color: white;">Certified Shredding and Destruction</a></li style="list-style-type:circle">
                    </ul>
                
                    <p>Our warehouses are purpose-built records management facilities equipped with state of the art systems that help us protect the integrity of your information.</p>
                </div>
                
            </div>
        </section>

        <section class="sec-chini">
            <div class="gen-cnt">
                <div class="video video-fit mb" >
                    <img src="{% static 'images/pic16.jpg' %}">
                </div>
            </div>
        </section>

       
    </div>
</div>

<section class="sec-chini">
    <div class="gen-cnt">
        <div class="col-inner" style="font-size: initial;">
			
            <h1><strong>These systems include:</strong></h1>
            <br>
            <ul>
                <li style="list-style-type:circle"><strong>Fire Prevention</strong> – A fire prevention inspection is conducted regularly to achieve a satisfactory standard in fire safety. Our fire prevention facilities include pumps, tanks, sprinklers, hydrants, hose reels and handheld extinguishers. The data storage vault is temperature and humidity controlled and is equipped with FM200 fire suppression gas.</li>
                <li style="list-style-type:circle"><strong>Fire Detection</strong> – Optical smoke beam detectors installed in our warehouse are connected to our security office via control panels. Instant notifications are sent to our facility management teams.</li>
                <li style="list-style-type:circle"><strong>Security Guarding</strong> – Multiple physical deterrents have been installed. All facilities are patrolled 24/7 and have direct links to the security company’s control room.</li>
                <li style="list-style-type:circle"><strong>Access Control</strong> – Restricted access control to all facilities.</li>
                <li style="list-style-type:circle"><strong>CCTV Monitoring</strong> – Premises are monitored by strategically placed CCTV monitoring camera systems.</li>
                <li style="list-style-type:circle"><strong>GPS Vehicle Tracking</strong> – All vehicles are fitted with a GPS Tracking system that allows the safe monitoring of your records in transit through Webfleet.</li>
                <li style="list-style-type:circle"><strong>Electrical Backup Generator</strong> – Diesel backup generators are installed to ensure uninterrupted service in a power failure.</li>
            </ul>
            
        </div>
    </div>
</section>

{% endblock content %}